/* 
Css Personalizzato.
Non conoscendo ancora benissimo Bootstrap probabilmente qualche 

*/


.bg-image {
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: darkolivegreen;
    align-items: center;
    margin-bottom: 40px;
}

.col {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .bg-image {
        height: 50vh;
    }
}


